@{
    Layout = "_Layout";
}

<style>
    .Img1 {
        background-color: lightpink;
        height: 30px;
    }

    .Img2 {
        background-color: aquamarine;
        height: 30px;
    }

    .Img3 {
        background-color: forestgreen;
        height: 30px;
    }

    .jumbotron {
        background-color: lemonchiffon;
    }
</style>
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Menu</a>
    </div>
</div>
<div class="jumbotron text-center">
    <h1>.NET 401 Class 43 Demo Group</h1>
    <p>Cam, George, Adam</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 Img1">
            This is the first image.
        </div>

        <div class="col-md-3 col-md-offset-1 Img2">
            This is the second image.
        </div>
        <div class="col-md-3 col-md-offset-1 Img3">
            This is the third image.
        </div>
    </div>
</div>